# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.streamlit/secrets.toml
local_artifacts/
*.parquet
*.zip

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
